<div class="ajax-loader">
    <img src="/images/ajax-loader.gif" class="img-responsive" />
</div>

<script src="/javascripts/jquery-2.2.4.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/datatable/jquery.dataTables.min.js"></script>
<script src="/javascripts/datatable/dataTables.buttons.min.js"></script>
<script src="/javascripts/datatable/dataTables.select.min.js"></script>
<script src="/javascripts/datatable/dataTables.responsive.min.js"></script>
<!--<script src="http://kingkode.com/datatables.editor.lite/js/altEditor/dataTables.altEditor.free.js"></script>-->


<script src="/javascripts/script.js"></script>

<script src="/javascripts/RTI.js"></script>