<div class="row">
    <!-- uncomment code for absolute positioning tweek see top comment in css -->
    <div class="absolute-wrapper"> </div>
    <!-- Menu -->
    <div class="side-menu">
        <nav class="navbar navbar-default" role="navigation">
            <!-- Main Menu -->
            <div class="side-menu-container">
                <!--<ul class="nav navbar-nav">
                    <li>
                        <a href="/building">
                            <span class="glyphicon glyphicon-cloud"></span> Building
                        </a>
                    </li>
                    <li>
                        <a href="/floor">
                            <span class="glyphicon glyphicon-plane"></span> Floor
                        </a>
                    </li>
                </ul>-->
                <ul class="nav navbar-nav" style="width:100%">
                    <!---->
                    <li class="active">
                        <a href="/Building">
                            <span class="glyphicon glyphicon-cloud"></span> Building
                        </a>
                    </li>
                    <li>
                        <a href="/buildingdistance/KMLImport">
                            <span class="glyphicon glyphicon-cloud"></span> Building Distance
                        </a>
                    </li>
                    <!--<li>
                        <a href="/buildingdistance/MultipleKMLImport">
                            <span class="glyphicon glyphicon-cloud"></span> KML Import
                        </a>
                    </li>-->
                    <li>
                        <a href="/floor">
                            <span class="glyphicon glyphicon-plane"></span> Floor
                        </a>
                    </li>
                    <li>
                        <a href="/floorlandmark">
                            <span class="glyphicon glyphicon-plane"></span> Floor Landmark
                        </a>
                    </li>
                    <li>
                        <a href="/room">
                            <span class="glyphicon glyphicon-plane"></span> Room
                        </a>
                    </li>
                    <li>
                        <a href="/room/GenerateQRCode">
                            <span class="glyphicon glyphicon-signal"></span> Generate QRCode
                        </a>
                    </li>
                    <li>
                        <a href="/PointOfInterest">
                            <span class="glyphicon glyphicon-plane"></span>  Points Of Interest
                        </a>
                    </li>

                    <li>
                        <a href="/floorWifiAccessPoint">
                            <span class="glyphicon glyphicon-cloud"></span> Floor Wifi Access Point
                        </a>
                    </li>
                    <li>
                        <a href="/floorWifiAccessPoint/Marking">
                            <span class="glyphicon glyphicon-signal"></span> Access Point Marking
                        </a>
                    </li>
                    <li>
                        <a href="/contactus">
                            <span class="glyphicon glyphicon-cloud"></span> Contact Us
                        </a>
                    </li>
                    <li>
                        <a href="/FAQ">
                            <span class="glyphicon glyphicon-plane"></span> FAQ
                        </a>
                    </li>
                    <li>
                        <a href="/Notification">
                            <span class="glyphicon glyphicon-signal"></span> Notification
                        </a>
                    </li>


                    <!--<li>
                        <a href="/facility">
                            <span class="glyphicon glyphicon-cloud"></span> Facility
                        </a>
                    </li>

                    <li>
                        <a href="/room">
                            <span class="glyphicon glyphicon-plane"></span> Room
                        </a>
                    </li>

                    <li>
                        <a href="/floorWifiAccessPoint">
                            <span class="glyphicon glyphicon-cloud"></span> Floor Wifi Access Point
                        </a>
                    </li>

                    <li>
                        <a href="/PointOfInterest">
                            <span class="glyphicon glyphicon-plane"></span>  Point Of Interest
                        </a>
                    </li>                                       

                    <li>
                        <a href="/FloorLandmark">
                            <span class="glyphicon glyphicon-cloud"></span>  Floor Landmark
                        </a>
                    </li>

                    <li>
                        <a href="/Room/GenerateQRCode">
                            <span class="glyphicon glyphicon-signal"></span> Generate QRCode
                        </a>
                    </li>-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
    </div>
</div>





<!--<li><a href="/">Home</a></li>
            <li><a href="/ContactUs">ContactUs</a></li>
            <li><a href="/FAQ">FAQ</a></li>
            <li><a href="/Building">Building</a></li>
            <li><a href="/Floor">Floor</a></li>
            <li><a href="/Facility">Facility</a></li>
            <li><a href="/AccessPointDetail">Access Point Detail</a></li>
            <li><a href="/Room">Room</a></li>
            -->
