<!DOCTYPE html>
<html lang="en">

<head>
    <%- include partials/head %>
</head>

<body>
    <div class="container-fluid">
        <%- include partials/top-header %>
            <div class="container-fluid main-container">
                <div class="col-md-10 content">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Dashboard
                        </div>
                        <div class="panel-body">
                            <h3>Welcome User..!!</h3>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <%- include partials/footer-scripts %>
        <script>
            $(document).ready(function () {
            });
        </script>
</body>

</html>